<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        <title>{% block title %}Base{% endblock %} - AsyncTweets</title>
        
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.3.2/cerulean/bootstrap.min.css" />
        <style>
            main.container > div.media:not(:first-child) {
                border-top: thin solid Grey;
                padding-top: 0.5em;
            }
        </style>
    </head>
    
    <body{% block body_attrs %}{% endblock %}>
        {% block body %}
            <header class="navbar navbar-default" role="navigation">
              <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a href="{{ path('asynctweets_website_homepage') }}"
                      class="navbar-brand">
                        AsyncTweets
                  </a>
                </div>
                
                <nav class="collapse navbar-collapse">
                  <ul class="nav navbar-nav">
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-cloud"></span>
                            Tweets
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-user"></span>
                            Users
                        </a>
                    </li>
                  </ul>
                  
                  <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="https://github.com/alexislefebvre/AsyncTweets">
                            <span class="glyphicon glyphicon-question-sign"></span>
                            About
                        </a>
                    </li>
                  </ul>
                </nav><!--/.nav-collapse -->
              </div>
            </header>
            
            {% block before_content %}{% endblock %}
            
            <main class="container">
                {% block content_title %}{% endblock %}
                
                {% for flashMessage in app.session.flashbag.get('message') %}
                    <div class="alert alert-success">
                        {{ flashMessage|raw }}
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    </div>
                {% endfor %}
                
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="alert alert-danger">
                        {{ flashMessage|raw }}
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    </div>
                {% endfor %}
                
                {% block content %}Empty block.{% endblock %}
            </main>
            
            <footer>
              <div class="container">
                <p>
                    <a href="http://alexislefebvre.com/">AlexisLefebvre.com
                        <span class="glyphicon glyphicon-link"></span></a>
                </p>
              </div>
            </footer>
        {% endblock %}
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script>window.jQuery && document.write('<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"><\/script>')</script>
    </body>
</html>
