{% extends 'AsyncTweetsWebsiteBundle::layout.html.twig' %}

{% block title %}Home timeline - page {{ page }}{% endblock %}

{% block content %}
    {# display navigation #}
    <div class="navigation row">
        <div class="col-sm-9 col-xs-12">
            {{ knp_pagination_render(pagination) }}
        </div>
        <div class="col-sm-3 col-xs-3 count alert alert-info">
            {{ pagination.getTotalItemCount }} tweets
        </div>
    </div>
    
    <div class="tweets">
        {% for tweet in pagination %}
            {% include 'AsyncTweetsWebsiteBundle:Default:tweet_inc.html.twig' %}
        {% endfor %}
    </div>
    
    {# display navigation #}
    <div class="navigation row">
        <div class="col-sm-9 col-xs-12">
            {{ knp_pagination_render(pagination) }}
        </div>
        <div class="col-sm-3 col-xs-12 alert alert-info" role="alert">
            Press <kbd>←</kbd> and <kbd>→</kbd> to go to previous or next page.
        </div>
    </div>
{% endblock %}
